/* Cái đầu */
.Head{
    width: 100px;
    height: 90px;
    background-color: rgba(199, 144, 108, 0.982);
    justify-self: center;
}
/* Tóc */
.HairT{
    width: 100px;
    height: 20px;
    background-color: #51320b;
}
.HairB{
    display: flex;
    justify-content: space-between;
}
.HairL{
    width: 10px;
    height: 10px;
    background-color: #51320b;
}
.HairR{
    width: 10px;
    height: 10px;
    background-color: #51320b;
}
/* Mắt */
.Eyes{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
.EyesL{
    width: 30px;
    height: 15px;
    background-color: aliceblue;
}

.EyesR{
    width: 30px;
    height: 15px;
    background-color: aliceblue;
}
.irises1{
    width: 13px;
    height: 15px;
    background-color: rgb(28, 57, 145);
    justify-self: flex-end;
}
.irises2{
    width: 13px;
    height: 15px;
    background-color: rgb(28, 57, 145);
    justify-self: flex-start;
}
/* Mũi */
.Nose{
    width: 20px;
    height: 10px;
    background-color: #643c07;
    justify-self: center;
}
/* Miệng - Râu */
.beard{
    width: 50px;
    height: 22px;
    background-color: #3d2403;
    justify-self: center;
}
.mouth{
    width: 20px;
    height: 12px;
    background-color: sienna;
    justify-self: center;
}
/* COMPLETE HEAD */
/* --------------------------- */
/* Thân (Body) */
.Body{
    width: 200px;
    height: 150px;
    display: flex;
    justify-self: center;
}
/*------ Cánh tay trái ------ */
.Arm1{
    width: 50px;
    height: 150px;
    background-color:rgba(199, 144, 108, 0.982) ; 
}
.Arm3{
    width: 50px;
    height: 50px;
    background-color: rgb(7, 169, 169) ;
}

/* ----- Thân ------ */
.Body1{
    width: 100px;
    height: 150px;
    background-color: rgb(7, 169, 169);  
}
.Body5{
    width: 100px;
    height: 10px;
    
}
.Body6{
    width: 50px;
    height: 10px;
    justify-self: center;
    background-color:rgba(199, 144, 108, 0.982) ;
}
.Body7{
    width: 100px;
    height: 10px;
    
}
.Body8{
    width: 30px;
    height: 10px;
    justify-self: center;
    background-color:rgba(199, 144, 108, 0.982) ;
}
.Body2{
    width: 100px;
    height: 130px;
    align-content: flex-end;
}
.Body3{
    width: 75px;
    height: 10px;
    background-color: rgb(58, 37, 194);
}
.Body4{
    width: 85px;
    height: 10px;
    background-color: rgb(58, 37, 194);
}



/*------ Cánh tay phải ------ */
.Arm2{
    width: 50px;
    height: 150px;
    background-color:rgba(199, 144, 108, 0.982) ;
}
.Arm4{
    width: 50px;
    height: 50px;
    background-color: rgb(7, 169, 169) ;
}

/* Complete Body */
/* --------------------------- */
/* Phần chân (Legs) */
.Legs{
    width: 100px;
    height: 100px;
    background-color: rgb(58, 37, 194);
    display: flex;
    justify-self: center ;
}
.LegT{
    width: 50px;
    height: 100px;
    justify-items: center;
    align-content: center;
    border-right: solid rgba(106, 157, 199, 0.299);
}
.LegP{
    width: 50px;
    height: 100px;
    justify-items: center;
    align-content: center;
    
}
.Leg_1{
    width: 30px;
    height: 15px;
    background-color: rgb(28, 28, 122);   
}
.shoes{
    width: 100px;
    height: 30px;
    display: flex;
    justify-self: center;
}
.shoes_1{
    width: 50px;
    height: 30px;
    border-right: solid rgba(106, 157, 199, 0.299);
    background-color: rgb(112, 111, 102);
}
.shoes_2{
    width: 49px;
    height: 30px;
    background-color: rgb(112, 111, 102);
}
